*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    /*background: url("../img/bg1.jpg");*/
}
img{
    vertical-align: top;
}
.header{
    width: 1000px;
    height: 143px;
    margin: auto;
    position: relative;
}
.header a img{
    position: absolute;
    left: 0;
}
.header .header_right_top ul{
    position: absolute;
    top: 0;
    right: 0;
}
.header .header_right_bot ul{
    position: absolute;
    bottom: 30px;
    right: 0;
}
.header .header_right_top ul li,.header_right_bot ul li{
    float: left;
}
.header .header_right_top ul li a{
    color: #000000;
}
.header .header_right_top ul li:nth-child(2){
    margin: 0 10px;
}
.header .header_right_bot ul{
    padding: 0 30px;
}
.header .header_right_bot ul{
    background: #dedbdb;
    height: 50px;
}
.header .header_right_bot ul li a{
    color: #808080;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.header .header_right_top ul li a:hover{
    color: #4C4C4C;
}
.header .header_right_bot ul li a:hover{
    color: #4C4C4C;
}
.center{
    width: 1349px;
    height: 500px;
}
.center .center_left{
    width: 335px;
    height: 500px;
    float: left;
    position: relative;
    border-right: 1px dashed #43585C;
}
.center .center_left ul li{
    width: 335px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dotted #43585C;
}
.center .center_left ul:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.center .center_left ul:nth-child(2){
    position: absolute;
    top: 250px;
    left: 0;
}
.center .center_left ul li:nth-child(1){
    background: #8F8E8A;
    color: white;
}
.center .center_left ul li a{
    color: #000000;
}
.center .center_right{
    width: 1010px;
    height: 500px;
    float: right;
    border-left: 1px dashed #43585C;
}
.center .center_right .center_right_top{
    width: 1010px;
    height: 248px;
    text-indent: 2em;
    border: none;
    border-bottom: 1px dashed #43585C;
    resize: none;
    outline: none;
}
.center .center_right .center_right_bot{
    height: 248px;
    width: 1010px;
    border: none;
    border-top: 1px dashed#43585C;
    outline: none;
}
.end{
    position: relative;
    top: 20px;
    width: 1349px;
    height: 25px;
    padding-left: 580px;
    box-sizing: border-box;
}