<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选题</title>
    <link rel="stylesheet" href="css/choice.css" />
    <script src="js/choice.js"></script>
</head>
<body>
    <section>
        <section class="header">
            <a href="#"><img src="img/logo.png"></a>
            <div class="header_right_top">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li>/</li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
            <div class="header_right_bot">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新题录入</a></li>
                    <li><a href="#">复习</a></li>
                    <li><a href="#">选题</a></li>
                    <li><a href="#">统计</a></li>
                    <li><a href="#">设置</a></li>
                </ul>
            </div>
        </section>
        <section class="center">
            <div class="center_left">
                <span>学习情况</span>
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">D</a></li>
                    <li><a href="#">E</a></li>
                </ul>
            </div>
            <div class="center_right">
                <div class="center_right_content">
                    <ul>
                        <li>
                            <p>
                                爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了
                            </p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center_right">
                <div class="center_right_content">
                    <ul>
                        <li>
                            <p>
                                爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了
                            </p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center_right">
                <div class="center_right_content">
                    <ul>
                        <li>
                            <p>
                                爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了
                            </p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center_right">
                <div class="center_right_content">
                    <ul>
                        <li>
                            <p>
                                爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了
                            </p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                        <li>
                            <p>4</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center_right">
                <div class="center_right_content">
                    <ul>
                        <li>
                            <p>
                                爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了爱上对方过后就看了
                            </p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                        <li>
                            <p>5</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="end">
            <span>2019</span>
            <span>&copy;</span>
            <span>错本</span>
            <span>版权所有</span>
        </section>
    </section>
</body>
</html>