<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复习</title>
    <link rel="stylesheet" href="css/review.css">
    <script src="js/review.js"></script>
</head>
<body>
    <section>
        <section class="header">
            <a href="#"><img src="img/logo.png"></a>
            <div class="header_right_top">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li>/</li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
            <div class="header_right_bot">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新题录入</a></li>
                    <li><a href="#">复习</a></li>
                    <li><a href="#">选题</a></li>
                    <li><a href="#">统计</a></li>
                    <li><a href="#">设置</a></li>
                </ul>
            </div>
        </section>
        <section class="center">
            <div class="center_left">
                <div class="center_left_top">
                    <div class="center_left_top_content">
                        <span>已完成</span>
                        <span>未完成</span>
                    </div>
                </div>
                <div class="center_left_bot">
                    <span class="center_left_bot_content">
                        <a href="#">提示</a>
                    </span>
                </div>
            </div>
            <div class="center_right">
                <div class="center_right_top" id="center_right_top">
                    <div class="center_right_top_content" id="center_right_top_content">
                        题目
                    </div>
                </div>
                <div class="center_right_center">
                    <div class="center_right_center_p" id="answer_pre">答案_pre</div>
                    <div class="center_right_center_n" id="answer_next">答案_next</div>
                    <button class="center_true">答对了</button>
                    <button class="center_false">答错了</button>
                </div>
                <textarea placeholder="草稿" class="center_right_bot" id="center_right_bot"></textarea>
            </div>
        </section>
        <section class="end">
            <span>2019</span>
            <span>&copy;</span>
            <span>错本</span>
            <span>版权所有</span>
        </section>
    </section>
</body>
</html>