<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习设置</title>
    <link rel="stylesheet" href="css/setting.css">
    <script src="js/setting.js"></script>
</head>
<body>
    <section>
        <section class="header">
            <a href="#"><img src="img/logo.png"></a>
            <div class="header_right_top">
                <ul>
                    <li><a href="#">登录</a></li>
                    <li>/</li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
            <div class="header_right_bot">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新题录入</a></li>
                    <li><a href="#">复习</a></li>
                    <li><a href="#">选题</a></li>
                    <li><a href="#">统计</a></li>
                    <li><a href="#">设置</a></li>
                </ul>
            </div>
        </section>
        <section class="center">
            <div class="center_left" id="center_left">
                <ul>
                    <li><a href="#">学习设置</a></li>
                    <li><a href="#">帮助与其他</a></li>
                </ul>
            </div>
            <div class="center_right">
                <div class="center_right_learn">
                    <table>
                        <tr>
                            <td>每日学习量：</td>
                            <td colspan="2">
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>记忆模式：</td>
                            <td>
                                <input type="radio" name="learn">直接显示答案
                            </td>
                            <td>
                                <input type="radio" name="learn">先显示题目，后显示答案
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="center_right_help">
                    <ul>
                        <li><a href="#">帮助与使用技巧</a></li>
                        <li><a href="#">在线人工客服</a></li>
                        <li><a href="#">紧急电话</a></li>
                        <li><a href="#">给错本一个评价</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="end">
            <span>2019</span>
            <span>&copy;</span>
            <span>错本</span>
            <span>版权所有</span>
        </section>
    </section>
</body>
</html>